@charset "UTF-8";

@font-face {
	font-family: 'Graced Script';
	src: url('GracedScript.ttf') format('truetype');
}

td {
	padding: 0;
	position: relative;
}

body {
	width: 100%;
	margin: 0 auto;
	background-color: #C8553D;
	position: relative;
}

h1 {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 3.5rem;
	color: #FFD5C2;
}

h2 {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 2.5rem;
	color: #C8553D;
}

h3 {
	text-transform: uppercase;
	color: #588B8B;
	font-size: 1.5rem;
	font-weight: bold;
}

.poista {
	display: inline-block;
	background-color: red;
	color: #fff;
	border-radius: 1em;
	padding: 0 .3em;
	text-decoration: none;
	min-width: 2em;
	text-align: center;
}

.muokkaa {
	display: inline-block;
	background-color: green;
	color: #fff;
	border-radius: 1em;
	padding: 0 .3em;
	text-decoration: none;
	min-width: 2em;
	text-align: center;
}

.muokkaa:hover, .poista:hover {
	color: #fff;
	cursor: pointer;
}

span[contenteditable=true] {
	font-family: monospace;
	background: #fff3a4;
	border-radius: 1em;
	padding: 0 1em;
	border: 1px dashed #ffbb19;
}

.varauspohja {
	width: 150%;
	font-family: 'Anonymous Pro', monospace;
	background-color: snow;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.varauspohja tr:first-child td {
	background-color: #F28F3B;
	padding: .5em 0;
	font-weight: bold;
}

.varauspohja tr:first-child td div {
	border-right: 1px solid #C8553D;
	padding-left: .3em;
}

.varauspohja tr:first-child {
	position: sticky;
	top: 0;
	z-index: 3;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.parillinen {
	background-color: rgba(255, 213, 194, .2);
}

#tanaan td:first-child {
	font-weight: bold;
	background-color: #739d9d;
}

#tanaan td:last-child {
	background-color: rgba(88, 139, 139, .2);
}

.varauspohja td:not(.stay) {
	min-height: 2em;
}

.flex {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

.flex div {
	display: inline-block;
	flex: 1 1 4%;
}

.pvanro {
	float: right;
}

.stay {
	position: sticky;
	left: 0;
	background-color: #588B8B;
	text-transform: uppercase;
	z-index: 2;
}

tr td.stay, tr.stay th {
	color: #fff;
	padding: 0 .5em;
}

.stay th {
	left: 0;
	position: sticky;
	z-index: 3;
	background-color: #588B8B;
	padding: .5em;
	width: 10%;
}

.sunnuntai {
	border-bottom: 2px solid #739d9d;
}

.tunti {
	position: relative;
	border-right: 1px solid lightgray;
}

.lentovaraus, .huolto {
	height: calc(100% - 2px);
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	margin-top: 1px;
	z-index: 1;
	border-radius: .3em;
	line-height: 2em;
	padding: 0 .5em;
	opacity: .8;
	z-index: 1;
}

.lentovaraus:hover, .huolto:hover {
	cursor: pointer;
}

.kalenteripohja {
	margin-top: 11em;
	margin-bottom: 3em;
}

.ylaosa {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	text-align: center;
}

.verho, .varausverho {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}

.verho {
	background-color: rgba(88, 139, 139, .8);
}

.varausverho {
	background-color: rgba(255, 213, 194, .8);
}

.verhonsisalto {
	background-color: white;
	margin: auto;
	width: 90%;
	max-width: 800px;
	margin-top: 20vh;
	padding: 1em 2em;
	border-radius: 1em;
	font-family: 'Anonymous Pro', monospace;
	text-align: center;
	position: relative;
}

.verhonsisalto table {
	width: 100%;
	text-align: left;
}

.verhonsisalto table td, .verhonsisalto table th {
	padding: .5em;
	width: 25%;
}

.verhonsisalto table th {
	text-transform: uppercase;
	color: #588B8B;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

.verhonsisalto table tr td:nth-child(odd), .ots {
	text-transform: uppercase;
	color: #C8553D;
	font-weight: bold;
	text-align: right;
	width: 10%;
}

.kayttajainfo {
	display: inline-block;
	margin: 0 1em 0 0;
	text-align: left;
}

.ylaosa .flex {
	justify-content: center;
	align-items: center;
}

.ylanamikat {
	position: absolute;
	top: -2em;
	width: calc(100vw - 2em);
	text-align: center;
	z-index: -1;
	padding: 0 1em;
}

.ylanamikat div a i {
	vertical-align: middle;
}

.ylanamikat div a {
	display: flex;
	align-items: center;
	line-height: 0;
	justify-content: space-between;
	gap: .5em;
}

.vasenselektori {
	float: left;
}

.oikeaselektori {
	float: right;
}

#poistoloota {
	margin-top: 1em;
}

#suljenappi, #suljevaraus {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	width: 1em;
	font-size: 1.5em;
	display: flex;
	height: 1em;
	color: #C8553D;
	cursor: pointer;
}

.wanha {
    background-image: radial-gradient(rgb(200 85 61 / 20%) 1px, rgb(255 250 250 / 20%) 1px);
    background-size: 12px 10px;
}

.wanha .lentovaraus, .wanha .huolto {filter:grayscale(.7); opacity:.6;}

.kirjauduloota {
	width:96vw;
	max-width:900px;
	margin:0 auto;
	text-align:center;
    padding-bottom: 3em;
}

#varausnappi {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

#rekisterointi {
	padding-top:1em;
	display:none;
}

footer {
	padding: .5em;
	text-align: center;
	font-family: 'Graced Script', cursive;
	color: rgba(255, 255, 255, .4);
	position: fixed;
	bottom: 0;
	width: 100%;
}