<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- CSS only -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Patrick+Hand+SC&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/7e7cff31ed.js"
	crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" href="css/css.css"
	th:href="@{css/css.css}" />
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<title>Varauskalenteri</title>

<style>
body {
	background-color: #FFD5C2;
}

h1 {
	color: #588B8B;
}

input {
	font-family: 'Anonymous Pro', monospace;
}

.input-group span {
	background-color: #588B8B;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Anonymous Pro', monospace;
	font-weight: bold;
}

.input-group-sm span {
	background-color: #C8553D;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Anonymous Pro', monospace;
	font-weight: bold;
}

footer {color:rgba(200, 85, 61, .3);}
</style>
</head>
<body>
	<div class="kirjauduloota">
		<h1>&#128747; Kirjaudu varauskalenteriin &#128748;</h1>

		<div th:if="${param.error}">
			Väärä käyttäjätunnus / salasana.<br>
			<br>
		</div>
		<div th:if="${param.success}">
			Kiitos rekisteröitymisestä! Voit nyt kirjautua sisään tunnuksillasi.<br>
			<br>
		</div>
		<div th:if="${param.fielderrors}">
			Kentissä oli virheitä. Noudatathan seuraavia rajoituksia:<br>
			<ul>
				<li>Käyttäjänimi 5-30 merkkiä</li>
				<li>Salasana 4-30 merkkiä</li>
				<li>Etunimi 2-30 merkkiä</li>
				<li>Sukunimi 1-30 merkkiä</li>
				<li>Sähköposti 5-50 merkkiä</li>
				<li>Puhelin 7-20 merkkiä</li>
			</ul>
			<br>
		</div>
		<div th:if="${param.userexists}">
			Valitettavasti käyttäjätunnus oli jo varattu. Yritä rekisteröitymistä uudelleen eri käyttäjänimellä.<br>
			<br>
		</div>
		<div th:if="${param.passworderror}">
			Salasanat eivät täsmänneet keskenään. Yritä rekisteröitymistä uudelleen.<br>
			<br>
		</div>
		<form th:action="@{/login}" method="post">
			<div id="kirjaudu">
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default"
						style="width: 30%">Käyttäjätunnus</span> <input type="text"
						name="username" class="form-control" aria-label="Käyttäjätunnus"
						aria-describedby="inputGroup-sizing-default" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="inputGroup-sizing-default"
						style="width: 30%">Salasana</span> <input type="password"
						name="password" class="form-control" aria-label="Salasana"
						aria-describedby="inputGroup-sizing-default" required>
				</div>
			</div>
			<div class="d-grid gap-2">
				<input type="submit" id="kirjaudusisaan" class="btn btn-success" value="Kirjaudu sisään" />
				<input type="button" id="rekisteroidy" class="btn btn-secondary btn-sm"
					value="Rekisteröidy"/>
			</div>
		</form>
		<div id="rekisterointi">
			<h2>&#128101; Rekisteröidy järjestelmään &#128101;</h2>
			<form th:object="${reklomake}" th:action="@{/register}" method="post">
				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text" id="inputGroup-sizing-sm"
						style="width: 30%">Käyttäjätunnus</span> <input type="text" class="form-control" aria-label="Käyttäjätunnus"
						aria-describedby="inputGroup-sizing-default"
						placeholder="mattimeikalainen" th:field="*{username}" required>
					<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Virheellinen käyttäjätunnus</div>
				</div>
				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text" id="inputGroup-sizing-sm"
						style="width: 30%">Salasana</span> <input type="password" class="form-control" aria-label="Salasana"
						aria-describedby="inputGroup-sizing-default"
						placeholder="salasana" th:field="*{password}" required>
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Virheellinen salasana</div>
				</div>
				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text" id="inputGroup-sizing-sm"
						style="width: 30%">Salasana (uudelleen)</span> <input
						type="password" class="form-control"
						aria-label="Salasana (uudelleen)"
						aria-describedby="inputGroup-sizing-default"
						placeholder="salasana" th:field="*{passwordCheck}" required>
					<div th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Virheellinen salasana</div>
				</div>
				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text" id="inputGroup-sizing-sm"
						style="width: 30%">Etunimi</span> <input type="text" class="form-control" aria-label="Etunimi"
						aria-describedby="inputGroup-sizing-default" placeholder="Matti" th:field="*{etunimi}"
						required>
				</div>
				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text" id="inputGroup-sizing-sm"
						style="width: 30%">Sukunimi</span> <input type="text" class="form-control" aria-label="Sukunimi"
						aria-describedby="inputGroup-sizing-default"
						placeholder="Meikäläinen" th:field="*{sukunimi}" required>
				</div>
				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text" id="inputGroup-sizing-sm"
						style="width: 30%">Sähköposti</span> <input type="text" class="form-control" aria-label="Sähköposti"
						aria-describedby="inputGroup-sizing-default"
						placeholder="matti.meikalainen@osoite.com" th:field="*{email}" required>
				</div>
				<div class="input-group mb-3 input-group-sm">
					<span class="input-group-text" id="inputGroup-sizing-sm"
						style="width: 30%">Puhelinnumero</span> <input type="text" class="form-control" aria-label="Puhelinnumero"
						aria-describedby="inputGroup-sizing-default"
						placeholder="040 1234 567" th:field="*{puhelin}" required>
				</div>
				<div class="d-grid gap-2">
					<input type="submit" class="btn btn-success btn-sm"
						value="Lähetä rekisteröitymistiedot" />
				</div>
			</form>
		</div>
	</div>
	<footer>webdesign &copy; Jasmin Lumme</footer>
	<script>
		$("#rekisteroidy").click(function() {
			$('#rekisterointi, #kirjaudu, #kirjaudusisaan').slideToggle();
			$(this).val()== 'Rekisteröidy' ? $(this).val("Peruuta rekisteröityminen") : $(this).val("Rekisteröidy");
			
		});
	</script>
</body>
</html>