<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Patrick+Hand+SC&display=swap" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/css.css" th:href="@{css/css.css}" />
<script src="https://kit.fontawesome.com/7e7cff31ed.js"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<head>
<title>Varauskalenteri</title>
</head>
<body>
	<div class="verho">
		<div class="verhonsisalto">
			<div id="varausid" style="display:none"></div>
			<div id="suljenappi"><i class="fas fa-times-circle"></i></div>
			<table>
				<tr>
					<th id="varausotsikko" colspan="4"></th>
				</tr>
				<tr>
					<td class="ots">Alkaa</td>
					<td id="varausalku"></td>
					<td class="ots">Päättyy</td>
					<td id="varausloppu"></td>
				</tr>
				<tr>
					<td class="ots">Lisätiedot</td>
					<td colspan="3" id="selite"></td>
				</tr>
				<tr>
					<th colspan="4">Varaajan tiedot</th>
				</tr>
				<tr>
					<td class="ots">Nimi</td>
					<td id="varaajaetu"></td>
					<td class="ots">Yhteystiedot</td>
					<td id="varaajapuhelin"></td>
				</tr>
			</table>
			<div id="poistoloota"></div>
		</div>
	</div>
	<div class="varausverho">
		<div class="verhonsisalto">
			<div id="suljevaraus"><i class="fas fa-times-circle"></i></div>
			<h3>Uusi varaus</h3>
			
			<form>
				<table>
					<tr>
						<th colspan="2">Varaus alkaa</th>
						<th colspan="2">Varaus päättyy</th>
					</tr>
				</table>
			</form>
		</div>
	</div>
	<div class="ylaosa">
	<h1 th:inline="text">LENTOVARAUSKALENTERI</h1>
	<div class="flex">
	<p class="kayttajainfo">Tervetuloa, <b id="kayttis" th:attr="data-kayttaja=${#httpServletRequest.remoteUser}"></b>!<br>
	Varauskalenteri päivitetty <span th:text="${#dates.format(#dates.createNow(),'dd.MM.yyyy HH:mm')}">Päivämäärä</span></p>
	<form  style="display:inline-block;" th:action="@{/logout}" method="post">
		<input type="submit" class="btn btn-outline-light" value="Kirjaudu ulos" />
	</form>
	</div>
	<br>
	<br>
	

	</div>

	<div class="kalenteripohja">
		<table class="varauspohja">
			<tr class="stay">
				<th>
		<div class="ylanamikat"><div class="vasenselektori"><a class="btn btn-outline-light btn-sm" th:href="${#temporals.format(kkeka, 'MM')} eq 1 ? @{'?kk=12&v=' + ${#numbers.formatInteger(#temporals.year(kkeka)-1, 1)}} : @{'?kk=' + ${#numbers.formatInteger(#temporals.month(kkeka)-1, 1)} + '&v=' + ${#temporals.format(kkeka, 'yyyy')}}"><i class="fas fa-arrow-circle-left"></i> Edellinen kuukausi</a></div>
		<th:block th:switch="${#temporals.format(kkeka, 'MM')}">
			<span th:case="1">Tammikuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="2">Helmikuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="3">Maaliskuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="4">Huhtikuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="5">Toukokuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="6">Kesäkuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="7">Heinäkuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="8">Elokuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="9">Syyskuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="10">Lokakuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="11">Marraskuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
			<span th:case="12">Joulukuu [[${#temporals.format(kkeka, 'yyyy')}]]</span>
		</th:block>
		
		<div class="oikeaselektori"><a class="btn btn-outline-light btn-sm" th:href="${#temporals.format(kkeka, 'MM')} eq 12 ? @{'?kk=1&v=' + ${#numbers.formatInteger(#temporals.year(kkeka)+1, 1)}} : @{'?kk=' + ${#numbers.formatInteger(#temporals.month(kkeka)+1, 1)} + '&v=' + ${#temporals.format(kkeka, 'yyyy')}}">Seuraava kuukausi <i class="fas fa-arrow-circle-right"></i></a></div></div>
				Päivä</th>
				<td class="flex">
					<div th:each="i : ${#numbers.sequence(0, 23, 1)}"
						th:text="${#numbers.formatInteger(i,2)}"></div>
				</td>
			</tr>
			<tr th:each="i : ${#numbers.sequence(1, vikapv, 1)}"
				th:class="${#temporals.dayOfWeek(kkeka.plusDays(i-1))==7} ? 'sunnuntai'"
				th:id="${#dates.format(#dates.createNow(),'yyyy') eq #temporals.format(kkeka, 'yyyy') and #dates.format(#dates.createNow(),'MM') eq #temporals.format(kkeka, 'MM') and #dates.format(#dates.createNow(),'dd') eq #numbers.formatInteger(i,2)} ? 'tanaan'">
				<td class="stay"
					th:switch="${#temporals.dayOfWeek(kkeka.plusDays(i-1))}"><span
					th:case="1">Maanantai</span><span th:case="2">Tiistai</span><span
					th:case="3">Keskiviikko</span><span th:case="4">Torstai</span><span
					th:case="5">Perjantai</span><span th:case="6">Lauantai</span><span
					th:case="7">Sunnuntai</span>
					<div class="pvanro"
						th:text="@{${#numbers.formatInteger(i,2)} + '.' + ${#temporals.format(kkeka, 'MM')} + '.'}"></div>
				</td>
				<td th:class="${i%2==0} ? 'flex parillinen' : 'flex pariton'"><div class="tunti" th:each="j : ${#numbers.sequence(0, 23, 1)}"
						th:id="@{${#temporals.year(kkeka)} + '/' + ${#temporals.month(kkeka)} + '/' + ${#numbers.formatInteger(i,2)} + '/' + ${#numbers.formatInteger(j,2)}}"><th:block th:each="varaus: ${varaukset}"><div th:attr="rel=${varaus.id}, data-varaaja=${varaus.user.id}" th:class="${#strings.toLowerCase(varaus.kategoria.name)}"
								th:if="${#temporals.format(kkeka, 'yyyy') == #temporals.format(varaus.alku, 'yyyy') and #temporals.format(kkeka, 'MM') == #temporals.format(varaus.alku, 'MM') and #numbers.formatInteger(j,2) eq #temporals.format(varaus.alku, 'HH') and #numbers.formatInteger(i,2) eq #temporals.format(varaus.alku, 'dd')}"
								th:text="@{${varaus.kategoria.name == 'Huolto'} ? 'HUOLTO ' : ${varaus.user.sukunimi} + ', ' + ${varaus.user.etunimi}}"
								th:style="${#temporals.format(varaus.alku, 'mm') eq '30'} ? 'margin-left:50%;width:calc('+${varaus.kesto}+' * (100% + 1px));' : 'width:calc('+${varaus.kesto}+' * (100% + 1px));'"></div><div th:attr="rel=${varaus.id}, data-varaaja=${varaus.user.id}" th:class="${#strings.toLowerCase(varaus.kategoria.name)}"
								th:if="${#temporals.format(kkeka, 'yyyy') == #temporals.format(varaus.alku, 'yyyy') and #temporals.format(kkeka, 'MM') == #temporals.format(varaus.alku, 'MM') and #temporals.day(varaus.alku) < i and #temporals.day(varaus.loppu) > i and j == 0}"
								th:text="@{${varaus.kategoria.name == 'Huolto'} ? 'HUOLTO (jatkuu) ' : ${varaus.user.sukunimi} + ', ' + ${varaus.user.etunimi} + ' (jatkuu)'}"
								th:style="'width:calc('+${varaus.kesto}+' * (100% + 1px)); border-top-left-radius:0; border-bottom-left-radius:0;'"></div><div th:attr="rel=${varaus.id}, data-varaaja=${varaus.user.id}" th:class="${#strings.toLowerCase(varaus.kategoria.name)}"
								th:if="${#temporals.format(kkeka, 'yyyy') == #temporals.format(varaus.alku, 'yyyy') and #temporals.format(kkeka, 'MM') == #temporals.format(varaus.alku, 'MM') and #temporals.day(varaus.alku) < i and #temporals.day(varaus.loppu) == i and #numbers.formatInteger(j,2) eq #temporals.format(varaus.loppu, 'HH')}"
								th:text="@{${varaus.kategoria.name == 'Huolto'} ? 'HUOLTO (päättyy)' : ${varaus.user.sukunimi} + ', ' + ${varaus.user.etunimi} + ' (päättyy)'}"
								th:style="${#temporals.format(varaus.loppu, 'mm') eq '30'} ? 'margin-right:-50%;width:calc('+${varaus.kesto}+' * (100% + 1px)); left:unset; right:100%; text-align:right;' : 'width:calc('+${varaus.kesto}+' * (100% + 1px)); left:unset; right:100%; text-align:right;'"></div></th:block></div></td>
			</tr>
		</table>
	</div>
	<footer>webdesign &copy; Jasmin Lumme</footer>

	<script>
		var kayttis = $("#kayttis").attr("data-kayttaja");
		haeKayttaja(kayttis);
		var hetki = new Date();
		var nytten = [hetki.getFullYear(), hetki.getMonth()+1, hetki.getDate(), hetki.getHours()];
		var nyt = [];
		var suoritaladatessa = function() {
			for(var k of nytten) {
				if (k < 10) {
					k = "0" + k;
				}
				nyt.push(k);
			}
			nyt = nyt.join("");
			
			$(".tunti").each(function() {
				var elemid = $(this).attr("id");
				var tunninid = elemid.split("/").join("");
				if(tunninid < nyt) {
					$(this).addClass("wanha");
				}
			});
		}
		
		suoritaladatessa();
		
		$('.huolto').css('background-color', '#baa29d');
		
		$('.lentovaraus').each(function(){
			var varijono = ['#DAB5FF', '#ffb593', '#b3f0c8', '#ff93d5', '#93daff', '#ff9393', '#a293ff', '#fffb93'];
			var varaajanid = $(this).attr("data-varaaja");
			$(this).css('background-color', varijono[varaajanid-1]);
		});
		
		$('.lentovaraus, .huolto').mouseover(function() {
			var varauksenid = $(this).attr("rel");
			$('div[rel='+varauksenid+']').css('opacity', '1');
		});
		
		$('.lentovaraus, .huolto').mouseout(function() {
			var varauksenid = $(this).attr("rel");
			$('div[rel='+varauksenid+']').css('opacity', '.9');
		});

		$('.lentovaraus, .huolto').click(function() {
			var varauksenid = $(this).attr("rel");
			haeVaraus(varauksenid);
		});
		
		$(".verho, #suljenappi i").click(function(e) {
			if(e.target !== this) {
				return;
			}
			tyhjennaVerho();
		});
		
		$(".varausverho, #suljevaraus i").click(function(e) {
			if(e.target !== this) {
				return;
			}
			tyhjennaVarausverho();
		});
		
		$(document).on('click', '#varausnappi', function(e){
			$(".varausverho").fadeIn();
		});
		
		$(".tunti").not(':parent').click(function(e) {
			if(e.target !== this) {
				return;
			}
			var elemid = $(this).attr("id");
			var tunninid = elemid.split("/").join("");
			if(tunninid < nyt) {
				return;
			}
			$("#varausnappi").remove();
			$(this).append("<button id=\"varausnappi\" class=\"btn btn-sm btn-success\">VARAA</button>");
		});

		$('.muokkaa').not('.spessu').click(
				function() {
					var asia = $(this).attr('rel');
					var id = $(this).attr('name');
					var value = $('#' + asia + id).attr('contenteditable');

					if (value == "false") {
						$("#" + asia + id).attr('contenteditable', 'true');
						$("span").not("#" + asia + id).attr('contenteditable',
								'false');
						$(this).html('<i class="far fa-save"></i>');
						$('.muokkaa').not(this).html(
								'<i class="far fa-edit"></i>');
					} else {
						var arvo = $("#" + asia + id).text();
						window.location.href = '/edit/' + id + '/' + asia + '/'
								+ arvo;
					}
				});
		$('.spessu').click(
				function() {

					var asia = $(this).attr('rel');
					var id = $(this).attr('name');
					var value = $(this).html();

					if (value.indexOf("edit") > 0) {
						$("#catlist" + id).css("display", "inline-block");
						$("#category" + id).hide();
						$(this).html('<i class="far fa-save"></i>');
					} else {
						var arvo = $("#catlist" + id).val();
						if (arvo != "" && arvo != null) {
							window.location.href = '/edit/' + id + '/' + asia
									+ '/' + arvo;
						}
					}

				});
		function haeVaraus(id) {
			$.ajax({
			    url: "/varaukset/"+id,
			    type: "GET",
			    dataType: "json",
			    data: {},
			    success: function(data){
			        naytaVaraus(data);
			    },
			    error: function(error){
			         alert("Error, errorin kuvaus consolessa");
			         console.log(error);
			    }
			});
		}
		
		function haeKayttaja(uname) {
			$.ajax({
			    url: "/kayttajat/"+uname,
			    type: "GET",
			    dataType: "json",
			    data: {},
			    success: function(data){
			        $("#kayttis").html(data.etunimi + " " + data.sukunimi);
			    },
			    error: function(error){
			         alert("Käyttäjätietojen hakeminen ei onnistunut. Ota yhteys järjestelmän ylläpitäjään.");
			         console.log(error);
			    }
			});
		}
		
		function naytaVaraus(data) {
			if (kayttis == data.user.username || kayttis == "admin") {
				$("#poistoloota").append("<div><button class=\"btn btn-outline-primary\"/>Muokkaa varausta</button> <button class=\"btn btn-outline-danger\" onclick=\"vahvistaPoisto()\"/>Poista varaus</button></div>")
			}
			$("#varausid").html(data.id);
			$("#varausotsikko").append("<span>"+ data.kategoria.name +"</span>");
			$("#varaajaetu").append("<span>" + data.user.etunimi + " " + data.user.sukunimi + "</span>")
			$("#varaajapuhelin").append("<span>p. " + data.user.phone + ", " + data.user.email + "</span>")
			$("#selite").append("<span>" + data.selitys + "</span>")
			var valku = formatoiPaivays(data.alku);
			var vloppu = formatoiPaivays(data.loppu);
			$("#varausalku").append("<span>" + valku + "</span>");
			$("#varausloppu").append("<span>" + vloppu + "</span>");
			$(".verho").fadeIn();
		}
		
		function tyhjennaVerho() {
			$(".verho").hide();
			$("#varausid, #varaajaetu, #varausotsikko, #varaajapuhelin, #varausalku, #varausloppu, #selite, #poistoloota").html("");
		}
		
		function tyhjennaVarausverho() {
			$(".varausverho").hide();
		}
		
		function formatoiPaivays(input) {
			  function pad(s) { return (s < 10) ? '0' + s : s; }
			  var d = new Date(input)
			  var paivaysosa = [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('.')
			  var tuntiosa = [pad(d.getHours()), pad(d.getMinutes())].join(':')
			  return paivaysosa + " klo " + tuntiosa
		}
		
		function vahvistaPoisto() {
			var poistettavaid = $("#varausid").html();
			if (confirm('Haluatko varmasti poistaa tämän varauksen?')) {
			    location.href = '/delete/'+poistettavaid;
			} else {
			    return;
			}
		}
	</script>
</body>
</html>